@using System.CodeDom
@using System.Globalization;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using System.Web;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.Owin.Security;
@using BugTracker_1._1.Models;
@using System.Net.Mail;
@using System.Configuration;
@using Microsoft.AspNet.Identity.EntityFramework;
@using BugTracker_1._1.Helpers;

@{
    var projectHelper = new ProjectHelper();
    var ticketHelper = new TicketHelper();
    var userHelper = new UserHelper();
    if (User.Identity.GetUserId() != null)
    {
        var userRolesHelper = new UserRolesHelper();
        var userId = User.Identity.GetUserId();
        var userName = userHelper.GetFullName(userId);
        var currentRole = userRolesHelper.ListUserRoles(userId).FirstOrDefault();
        ViewBag.Name = userName;

        if (currentRole != null)
        {
            ViewBag.Role = currentRole;
        }
        else
        {
            ViewBag.Role = "No Role Assigned";
        }


    }


    ViewBag.ProjectCount = projectHelper.NumberOfProjects();
    ViewBag.TicketCount = ticketHelper.TotalNumberOfTickets();
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Richlynn Bug-Tracker</title>
    <link href="~/Images/favicon.png" type="image/png" rel="icon" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css" integrity="sha512-SUJFImtiT87gVCOXl3aGC00zfDl6ggYAw5+oheJvRJ8KBXZrr/TMISSdVJ5bBarbQDRC2pR5Kto3xTR0kpZInA==" crossorigin="anonymous" />
    <link href="//cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link href="~/Content/datatables.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link href="//fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="//unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js" integrity="sha512-QEiC894KVkN9Tsoi6+mKf8HaCLJvyA6QIRzY5KrfINXYuP9NxdIkRQhGq3BZi0J4I7V5SidGM3XUQ5wFiMDuWg==" crossorigin="anonymous"></script>
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>



<body class="sb-nav-fixed" id="_LayoutBody">
    <nav class="sb-topnav navbar navbar-expand navbar-dark backgroundCharcoal" id="topNavbar">

        <h4 class="brandTitle colorGoldenRod mt-2 ml-2" href="@Url.Action("Index", "Home")">Richlynn Bug Tracker!</h4>
        <button class="btn btn-link btn-lg order-1 order-lg-0 text-white" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "text-white", id = "homeLink" })
        @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "text-white", id = "aboutLink" })



        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav" id="topNavUL">
                    <li>
                        @Html.ActionLink($"Hello, {ViewBag.Name}", null, null, htmlAttributes: new { id = "fullEmail", @class = "text-white" })
                    </li>

                </ul>
            }
        }
        else
        {
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "text-white" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "text-white" })</li>
            </ul>
        }

        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw text-white"></i></a>
                <!--Show this if user is logged in (authenticated)-->
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm1", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">

                            <span class="ml-3 mt-0">@ViewBag.Name</span>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item colorBlack" href="javascript:document.getElementById('logoutForm1').submit()">Log off<i class="fas fa-sign-out-alt colorBlack ml-3"></i></a>
                        </div>
                    }
                }
                <!-------------------------------------------------->

            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion backgroundCharcoal" id="sidenavAccordion">

                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="h2 sb-sidenav-menu-heading text-white"></div>
                        <div class="h2 text-white mb-1"><a class="h2 mb-5" id="homePageLeftColumnDashboardLink" href="@Url.Action("Index","Home")"><i class="h3 fas fa-tachometer-alt" id="faTachometer"></i></a>Dashboard</div>
                        <!--added here begins-->

                        <a id="sideNavigationLinks"class="nav-link collapsed text-decoration-none text-white" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-controls="collapseLayouts" aria-expanded="true">



                            @*<div class="sb-nav-link-icon"><i class="@*fas fa-columns h2"></i></div>*@
                            <h2>Navigate</h2>
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-arrow-alt-circle-down"></i></div>
                        </a>
                        <!--line 147: hard coded 'show' to have sidenav buttons expand on page load-->
                        <div class="collapse show" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <!--added here ends-->


                            <div>
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <!---------------ADMINISTRATOR START--------------->


                                    @if (User.IsInRole("Admin"))
                                    {
                                        <h4 class="text-white">Admin</h4>

                                        <button class="btn backgroundRed text-lg-center width-80 mt-0"><a class="text-white" href="@Url.Action("Create", "Tickets")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">Create Ticket</a></button>

                                        <button class="btn backgroundRed text-lg-center width-80 mt-2"><a class="text-white" href="@Url.Action("Create","Projects")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">Create Project</a></button>

                                        <button class="btn backgroundRed text-lg-center width-80 mt-2"><a class="text-white" href="@Url.Action("Index","Tickets")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">All Tickets</a></button>

                                        <button class="btn backgroundRed text-lg-center width-80 mt-2"><a class="text-white" href="@Url.Action("Index","Projects")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">All Projects</a></button>

                                        <button class="btn backgroundRed text-lg-center width-80 mt-2"><a class="text-white" href="@Url.Action("Manageroles","Assignments")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">User Roles</a></button>

                                        <button class="btn backgroundRed text-lg-center width-80 mt-2"><a class="text-white" href="@Url.Action("ManageProjectUsers","Assignments")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">Assign Project</a></button>

                                        <button class="btn backgroundRed text-lg-center width-80 mt-2"><a class="text-white" href="@Url.Action("RemoveUserFromProject","Assignments")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">Unassign Project</a></button>

                                    }
                                    @* <!---------------ADMINISTRATOR END--------------->


                    <!---------------PROJECT MANAGER START--------------->*@

                                    else if (User.IsInRole("Project Manager"))
                                    {
                                        <h4 class="mt-3 text-white">Project Mgrs.</h4>

                                        <button class="btn backgroundDarkBlue text-lg-center width-80 mt-0"><a class="text-white" href="@Url.Action("Create","Projects")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">Create Project</a></button>

                                        <button class="btn backgroundDarkBlue text-lg-center width-80 mt-2"><a class="text-white" href="@Url.Action("Index","Projects")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">View Projects</a></button>

                                        <button class="btn backgroundDarkBlue text-lg-center width-80 mt-2"><a class="text-white" href="@Url.Action("Index","Tickets")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">View Ticket</a></button>

                                        <button class="btn backgroundDarkBlue text-lg-center width-80 mt-2 "><a class="text-white" href="@Url.Action("ManageProjectUsers","Assignments")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">Assign Project</a></button>

                                        <button class="btn backgroundDarkBlue text-lg-center width-80 mt-2 "><a class="text-white" href="@Url.Action("RemoveUserFromProject","Assignments")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">Unassign Project</a></button>
                                    }
                                    @*<!---------------PROJECT MANAGER END--------------->


                    <!---------------DEVELOPER START--------------->*@


                                    else if (User.IsInRole("Developer"))
                                    {
                                        <h4 class="text-white">Developers</h4>

                                        <button class="btn backgroundGreen text-lg-center width-80 mt-0"><a class="text-white" href="@Url.Action("Index","Projects")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">View Projects</a></button>

                                        <button class="btn backgroundGreen text-lg-center width-80 mt-2 mb-3"><a class="text-white" href="@Url.Action("Index","Tickets")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">View Tickets</a></button>
                                    }

                                    @*<!---------------DEVELOPER END--------------->


                    <!---------------SUBMITTER START--------------->*@
                                    else if (User.IsInRole("Submitter"))
                                    {

                                        <h4 class="text-white">Submitters</h4>
                                        <button class="btn backgroundYellow text-lg-center width-80 mt-2"><a class="text-white" href="@Url.Action("Index","Projects")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">View Projects</a></button>

                                        <button class="btn backgroundYellow text-lg-center width-80 mt-2"><a class="text-white" href="@Url.Action("Index","Tickets")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">View Tickets</a></button>

                                        <button class="btn backgroundYellow text-lg-center width-80 mt-2"><a class="text-white" href="@Url.Action("Create","Tickets")" data-toggle="" data-target="" aria-expanded="true" aria-controls="">Create Ticket</a></button>
                                    }
                                    <!---------------SUBMITTER END--------------->

                                </nav>
                            </div>

                        </div>

                        <div class="h5 text-white" id="sideNavLoggedInRole">Logged in as role: @ViewBag.Role</div>

                        <!--Show this if user is logged in (authenticated)-->
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "sideLogoutForm", @class = "navbar-left" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="h5 text-white navbar-left" href="javascript:document.getElementById('sideLogoutForm').submit()">Log off<i class="fas fa-sign-out-alt text-white mt-3" id="sideLogoffArrow"></i></a>
                            }
                        }

                    </div>

                    <!--logoff goes here-->
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <div class="row" id="mainTopCardRow">
                        <div class="col-xl-3 col-md-6">
                            <!--below here-->
                            <div class="card backgroundRed text-white mb-4">
                                <div class="h3 card-body backgroundRed text-uppercase">Administrators</div>
                                <div class="d-flex align-items-center justify-content-between backgroundRed">
                                    <a class="small text-white" href="@Url.Action("Index","Projects")"><h5><ul><li>Create / Edit Projects and Tickets</li><li>Assign all Users</li></ul></h5></a>
                                    <div class="small text-white"></i></div>
                                </div>
                            </div>
                            <!--above here-->
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card backgroundDarkBlue text-white mb-4">
                                <div class=" h3 card-body backgroundDarkBlue text-uppercase">Project Mgrs.</div>
                                <div class="d-flex align-items-center justify-content-between backgroundDarkBlue">
                                    <a class="small text-white stretched-link" href="@Url.Action("Index","Projects")"><h5><ul><li>Your Projects and Tickets</li><li>Ticket comments and attachments</li></ul></h5></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card backgroundGreen text-white mb-4">
                                <div class="h3 card-body backgroundGreen text-uppercase">Developers</div>
                                <div class="d-flex align-items-center justify-content-between backgroundGreen">
                                    <a class="small text-white stretched-link" href="@Url.Action("Index","Projects")"><h5><ul><li>Your Project Tickets</li><li>View your assigned Tickets</li></ul></h5></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card backgroundYellow text-white mb-4">
                                <div class="h3 card-body backgroundYellow text-uppercase">Submitters</div>
                                <div class="d-flex align-items-center justify-content-between backgroundYellow">
                                    <a class="small text-white stretched-link" href="@Url.Action("Index","Projects")"><h5><ul><li>Your Project Tickets</li><li>Create a Ticket</li></ul></h5></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    @RenderBody()

                    <!--MY CHART BEGINS-->

                    <canvas id="myChart"> </canvas>


                    <!--MY CHART ENDS-->


                </div>
            </main>
            <footer class="py-4 bg-light">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; 2020 - Bootstrap Edited by Richard Knott</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>
    <script src="//code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/chart-bar-demo.js"></script>
    <script src="~/Scripts/chart-area-demo.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/datatables-demo.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <!--MY CHART BEGINS-->
    <script>

    /*Chart JS Begins Here*/
        //Global Options
        @{
            var projectLabels = projectHelper.NameOfProject();
            var numberOfTickets = ticketHelper.NumberOfTicketsOnProject(1);

        }
        Chart.defaults.global.defaultFontFamily = "Garamond";
        Chart.defaults.global.defaultFontSize = 22;


        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '@Url.Action("PopulateChart", "Charts")',
            dataType: 'json',
            success: function (response) {
                let myChart = $("#myChart")[0].getContext("2d")
                let projectsChart = new Chart(myChart, {
                    type: "bar", //different available types: bar, horizontal bar, pie, doughnut, radar, polarArea
                    data: {
                        labels: response.Labels,
                        datasets: [{
                            label: "Project Tickets",
                            data: response.Data,
                            backgroundColor: ["#33658A", "#86BBd8", "#758E4F", "#F6AE2D", "#F26419", "#A37871", "#DD2D4A", "#CBEEF3", "#610345", "#E3B505"],
                            borderWidth: 1,
                            borderColor: "#777777",
                            hoverBorderWidth: 3,
                            hoverBorderColor: "#000000"
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: "Tickets Per Project",
                            fontSize: 26
                        },
                        legend: {
                            display: false
                        },                        
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
    }

        })



    /*Chart JS Ends Here*/
    </script>
    <!--MY CHART ENDS-->

    @RenderSection("scripts", required: false)
</body>
</html>
