@using BugTracker_1._1.Models

@{
    ViewBag.Title = "Log In";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Images/favicon.png" type="image/png" rel="icon" />
    <title>Richlynn Bug Tracker</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/all.css" rel="stylesheet" type="text/css"><!--fontawesome-->
    <link href="~/Content/styles.css" rel="stylesheet" />

    <link href="//fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap" rel="stylesheet">

    <!-- Custom styles for this template-->
    @*<link href="~/Content/sb-admin-2.css" rel="stylesheet">*@

</head>

<body class="bg-gradient-primary backgroundDarkBlue">

    <div class="container" id="loginBackground">

        <!-- Outer Row -->
        <div class="row justify-content-center" id="demoLoginBox">

            <div class="col-8 demoLogin">
                <h3 class="demoLoginTitle mb-lg-5"><span class="demoLoginTitleR">R</span>ichlynn Bug Tracker! <br /> Demo Version</h3>
                <div id="demoLoginColumn" class="demo-bg-login-image">                    
                </div>
                <div id="demoRowLoginButtons">
                    <div class="col-3" id="demoAdminButton">
                        

                        @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "myForm" }))
                        {
                            
                            @Html.AntiForgeryToken()
                            @Html.Hidden("emailKey", "AlanAldaEmail")
                            @Html.Hidden("passwordKey", "AlanAldaPassword")
                            <div class="form-group">
                                <button type="submit" class="btn backgroundRed text-white" id="demoAdmin" /><span data-tooltip="Admins can create and edit all projects and tickets, and assign /unassign user to projects and tickets.">Demo Admin.</span><i class="fas fa-arrow-alt-circle-right fa-1x"></i>

                            </div>
                        }

                    </div><!--ends here-->

                    <div class="col-3" id="demoProjectManagerButton">
                        <!--added here-->
                        @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "myForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("emailKey", "BenjaminButtonEmail")
                            @Html.Hidden("passwordKey", "BenjaminButtonPassword")
                            <div class="form-group">
                                <button type="submit" class="btn backgroundDarkBlue text-white" id="demoLoginProjectManager" /><span data-tooltip="PMs can create and edit their projects and tickets as well as add comments and attachments to tickets">Demo Prj. Mgr.</span><i class="fas fa-arrow-alt-circle-right fa-1x"></i>
                            </div>
                        }
                        <!--ends herer-->
                    </div>

                    <div class="col-3" id="demoDeveloperButton">
                        <!--added here-->
                        @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "myForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("emailKey", "ChevyChaseEmail")
                            @Html.Hidden("passwordKey", "ChevyChasePassword")
                            <div class="form-group">
                                <button type="submit" class="btn backgroundGreen text-white" id="demoDeveloper" /><span data-tooltip="Developers can view their project tickets as well as their assigned tickets">Demo Developer</span><i class="fas fa-arrow-alt-circle-right fa-1x"></i>
                            </div>
                        }
                        <!--ends herer-->
                    </div>

                    <div class="col-3" id="demoSubmitterButton">
                        <!--added here-->

                        @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "myForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("emailKey", "DannyDeVitoEmail")
                            @Html.Hidden("passwordKey", "DannyDeVitoPassword")

                            <div class="form-group">
                                <button type="submit" class="btn backgroundYellow text-white" id="demoSubmitter" /><span data-tooltip="Submitters can view their assigned projects as well as their assigned tickets">Demo Submitter</span><i class="fas fa-arrow-alt-circle-right fa-1x"></i>
                            </div>
                        }

                    </div><!--ends here-->
                </div>

            </div>
           
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery.js"></script>
    @*<script src="~/Scripts/bootstrap.bundle.min.js"></script>*@

    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/bootstrap.bundle.js"></script>

    <!-- Custom scripts for all pages-->
    @*<script src="~/Scripts/sb-admin-2.js"></script>*@

</body>

</html>
