@model BugTracker_1._1.Models.Ticket

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10"></div>       
        <p>Project Data</p>
        <br/>
        <h3>Project Name: @Model.Project.Name</h3>
        <h3>Project Created: @Model.Project.Created</h3>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
        <P>Ticket Data</P>
        <br />
        <h3>Title: Ticket Title</h3>
        <h3>Priority: @Model.TicketPriority.Name</h3>
        <h3>Status: @Model.TicketStatus.Name</h3>
        <h3>Type: @Model.TicketType.Name</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            @*Show ticket comments*@
        </div>
        <div class="col-md-6">
            @*Show ticket attachments*@
            @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("TicketId", Model.Id)

                <div class="form-group">
                    @Html.Label("File Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("FileName", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Attachment", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="file" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add Attachment" class="btn btn-primary" style="width:30%">Add Attachment>
                    </div>
                </div>

            }

            <hr/>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Icon")
                        </th>
                        <th>
                            @Html.DisplayName("Name")
                        </th>
                        <th>
                            @Html.DisplayName("File Path")
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var attachment in Model.Attachments.ToList())
                    {
                    <tr>
                        <td>
                            @*The file icon will go here.*@😀
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => attachment.FileName)
                        </td>
                        <td>
                            <a target="_blank" href="@attachment.FilePath">@attachment.FilePath</a>                
                        </td>
                    </tr>
                    }
                </tbody>

            </table>


        </div>
    </div>
</div>