@using BugTracker_1._1.Models;
@using BugTracker_1._1.Helpers;
@model IEnumerable<ApplicationUser>

@{
    ViewBag.Page = "Remove Users";
    var projectHelper = new ProjectHelper();
    var roleHelper = new UserRolesHelper();
}



@if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
{
    <div id="removeUsersContainer" class="mb-5">
        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-6">
                <h2 class="font-weight-bold">Select Users</h2>  @Html.ListBox("UserIds", null, new { @id = "removeUsersListBox" })
            </div>
            <div class="col-lg-6">
                <h2 class="font-weight-bold">Projects</h2> @Html.ListBox("ProjectIds", null, new { @id = "removeProjectsListBox" })
            </div>
        </div>

        <div class="row" id="removeUsersProjectsButtonRow">
            <div class="col-lg-6">
                <button class="btn text-white backgroundRed" id="removeUsersButton" type="submit">Remove User</button>
            </div>
            <div class="col-lg-6">
                @Html.ActionLink("Back", "Index", "Projects", null, new { @class = "btn text-white backgroundDarkBlue", @id = "removeUsersBackButton" })
            </div>
        </div>
        }
    </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayName("Role")
                        </th>
                        <th>
                            @Html.DisplayName("Projects")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => user.Email)
                            </td>
                            <td>
                                @roleHelper.ListUserRoles(user.Id).FirstOrDefault()
                            </td>
                            <td>
                                @foreach (var project in projectHelper.ListUserProjects(user.Id))
                                {
                                    @project.Name<br />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
 
}


