@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using BugTracker_1._1.Helpers;
@model IEnumerable<BugTracker_1._1.Models.Project>

@{
    ViewBag.Page = "Projects";
    var ticketHelper = new TicketHelper();
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create Projects", "Create", "Projects", new { area = "" }, new { @class = "btn backgroundDarkBlue text-white", id = "createProjectButton" })
        @Html.ActionLink("Assign Users", "ManageProjectUsers", "Assignments", new { area = "" }, new { @class = "btn backgroundDarkBlue text-white", id = "assignUsersToProjectsButton" })
        @Html.ActionLink("Assign Roles", "Manageroles", "Assignments", new { area = "" }, new { @class = "btn backgroundDarkBlue text-white", id = "assignUsersToRolesButton" })
        @Html.ActionLink("Remove Users", "RemoveUserFromProject", "Assignments", new { area = "" }, new { @class = "btn backgroundRed text-white", id = "removeUsersFromProjectsButton" })
        @Html.ActionLink("View Tickets", "Index", "Tickets", new { area = "" }, new { @class = "btn backgroundYellow text-white", id = "viewTicketsButton" })
    </p>

}

@if (User.IsInRole("Project Manager"))
{
    <p>
        @Html.ActionLink("Create Projects", "Create", "Projects", new { area = "" }, new { @class = "btn backgroundDarkBlue text-white", id = "createProjectButton" })
        @Html.ActionLink("Assign Users", "ManageProjectUsers", "Assignments", new { area = "" }, new { @class = "btn backgroundDarkBlue text-white", id = "assignUsersToProjectsButton" })
        @Html.ActionLink("Remove Users", "RemoveUserFromProject", "Assignments", new { area = "" }, new { @class = "btn backgroundRed text-white", id = "removeUsersFromProjectsButton" })
        @Html.ActionLink("View Tickets", "Index", "Tickets", new { area = "" }, new { @class = "btn backgroundYellow text-white", id = "viewTicketsButton" })
    </p>

}
<div class="applyFlexBox">

    @if (User.IsInRole("Developer") || User.IsInRole("Submitter"))
    {
        <p>
            @Html.ActionLink("View Tickets", "Index", "Tickets", new { area = "" }, new { @class = "btn backgroundYellow text-white", id = "viewTicketsButton" })
        </p>

    }

    @if (User.IsInRole("Submitter"))
    {
        <p>
            @Html.ActionLink("Create Ticket", "Create", "Tickets", new { area = "" }, new { @class = "btn backgroundDarkBlue text-white ml-2", id = "createTicketsButton" })
        </p>

    }
</div>
<hr />

@*added this div*@
<div class="table-responsive">
    <!--<table id="mytable" class="table">-->
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsArchived)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td id="projectsIndexDescription">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsArchived)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) <span>&nbsp;</span>
                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span>&nbsp;</span>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

